cmake==3.26.3
dscribe~=0.4.0
fastapi==0.101.0
fastcore==1.5.29
mofdscribe~=0.0.8
moleculetda ~= 0.2.1
optuna~=3.3.0
pervect~=0.0.2
pymatgen~=2023.7.20
rdkit~=2022.9.5
scikit-learn~=1.3.0
uvicorn[standard]~=0.12.3
xgboost~=1.7.6
ase~=3.22.1
watchdog==3.0.0
requests
Jinja2==3.1.1
pdfkit
bokeh==3.0.3
pandas==2.0.2
