/* Global styling */
body {
    font-family: Arial, sans-serif;
    position: relative; /* Required for positioning the image */

}

/* Table styling */
table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Heading styling */
h1 {
    color: #e20e78;
    width: 100%; /* or a fixed width */
    text-align: center;
}   

h2 {
    color: #080708;
}

/* Paragraph styling */
p {
    font-size: 14px;
}


/* Logo image styling */
.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px; /* Adjust the image width as needed */
}

.form {
    width: 50%;

}